{% extends 'base.html.twig' %}
{% form_theme livreForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Ajouter un livre</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        {{ form_start(livreForm,{'attr':{
            'class': "addlibrary needsclick dz-clickable"
        }}) }}

        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">

                {{ form_row(livreForm.Isbn,{
                    'label': "ISBN",
                    'attr':{
                        'placeholder': "Numéro ISBN"
                    }}) }}

                {{ form_row(livreForm.titrePrincipale,{
                    'label': "Titre Principale",
                    'attr':{
                        'placeholder': "Titre principale"
                    }}) }}

                {{ form_row(livreForm.titreSecondaire,{
                    'label': "Titre Secondaire",
                    'attr':{
                        'placeholder': "Titre secondaire"
                    }}) }}

                {{ form_row(livreForm.dateEdition,{
                    'label': "Année d'édition",
                    'attr':{
                        'placeholder': "Année d'édition",
                        'class': "js-yearpicker"
                    }}) }}

                {{ form_row(livreForm.dateAquis,{
                    'label': "Date d'aquision",
                    'attr':{
                        'name': "date_aquision",
                        'placeholder': "jj/mm/aaaa",
                        'class': "js-datepicker"
                    }}) }}

                {{ form_row(livreForm.prix,{
                    'label': "Prix",
                    'attr':{
                        'placeholder': "Prix"
                    }
                }) }}

                {{ form_row(livreForm.categorie,{
                    'label': "Catégorie",
                    'attr':{
                        'class': "select-two"
                    }
                }) }}

                {{ form_row(livreForm.descripteurs,{
                    'label': "Mots clé",
                    'attr':{
                        'class': "select-two-multiple"
                    }
                }) }}

                {{ form_row(livreForm.observation,{
                    'label': "Observation",
                    'attr':{
                        'placeholder': "Description..."
                    }}) }}
            </div>
        </div>
        <div class="row">
            <div id="exemplaires" class="col-lg-6 col-md-8 col-sm-10 col-12"
                 data-prototype="{{ form_row(livreForm.exemplaires.vars.prototype)|e('html_attr') }}">
                <div class="card">
                    <h4 class="card-header">Exemplaires :</h4>
                    <div class="card-body">
                        {% for exemplaire in livreForm.exemplaires %}
                            <div class="form-row">
                                <div class="col col-sm-6 col-md-6 col-6 col-lg-6">
                                    {{ form_row(exemplaire.nInventaire,{
                                        'label': false,
                                        'attr':{
                                            'placeholder': "N° Inventaire"
                                        }
                                    }) }}
                                </div>
                                <div class="col col-sm-4 col-md-4 col-4 col-lg-4">
                                    {{ form_row(exemplaire.cote,{
                                        'label': false,
                                        'attr':{
                                            'placeholder': "Cote"
                                        }
                                    }) }}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <input type="button" class="form-control btn btn-info" value="Ajouter un Exemplaire">
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr>
        <div class="row align-content-end">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-success form-control">Ajouter</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button type="reset" class="btn btn-danger form-control">Annuler</button>
            </div>
        </div>

        {{ form_end(livreForm) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bookForm') }}
{% endblock %}
{% block title %}
    Ajout d'un Livre
{% endblock %}

