<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done sidebar-lg-show ">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="https://via.placeholder.com/89x25" width="89" height="25" alt="Logo">
        <img class="navbar-brand-minimized" src="https://via.placeholder.com/30" width="30" height="30" alt="Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto mr-1">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img class="img-avatar" src="{{ asset('build/images/user.jpg') }}" alt="admin_avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Réglages</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-wrench"></i> Paramettres
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <i class="fa fa-lock"></i> Déconnexion
                </a>
            </div>
        </li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">Menu</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dashboard') }}">
                        <i class="nav-icon cui-dashboard"></i> Tableau de bord
                    </a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon cui-bookmark"></i> Livres
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('books') }}">&nbsp;&nbsp;&nbsp;Consulter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('books_new') }}">&nbsp;&nbsp;&nbsp;Ajouter
                            </a>
                        </li>
                    </ul>
                </li>
                {% if is_granted('ROLE_GESTION') %}
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="nav-icon cui-user"></i> Responsables
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('responsable') }}">&nbsp;&nbsp;&nbsp;Consulter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('resp_new') }}">&nbsp;&nbsp;&nbsp;Ajouter</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon cui-chart"></i> Rapports
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a href="{{ path('export') }}" class="nav-link">
                                &nbsp;&nbsp;&nbsp;Aquisitions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('inventory') }}" class="nav-link">
                                &nbsp;&nbsp;&nbsp;Inventaire
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main id="main" class="main">
        {% block bread_cumb %}
        {% endblock %}
        <div class="container-fluid pb-4">
            {% block body %}
            {% endblock %}
        </div>
    </main>
</div>
{{ encore_entry_script_tags('app') }}
{% for message in app.flashes('success') %}
    <script>
        toastr["success"]("{{ message }}");
    </script>
{% endfor %}
{% for message in app.flashes('error') %}
    <script>
        toastr["error"]("{{ message }}");
    </script>
{% endfor %}
{% for message in app.flashes('info') %}
    <script>
        toastr["info"]("{{ message }}");
    </script>
{% endfor %}
{% for message in app.flashes('warning') %}
    <script>
        toastr["warning"]("{{ message }}");
    </script>
{% endfor %}
{% block javascripts %}{% endblock %}
</body>
</html>
